/* CSS declarations go here */
@import "custom.css";

/* Full height image header */
.blance-intro {
  background-position: center;
  background-size: cover;
  /*background-image: url("http://www.w3schools.com/w3images/mac.jpg");*/
  /*background: #333;*/
  min-height: 100vh;
}
.blance-page {
  background-position: center;
  background-size: cover;
  /*background-image: url("http://www.w3schools.com/w3images/mac.jpg");*/
  /*background: #333;*/
  min-height: 100vh;
}
.w3-navbar li a {
  padding: 16px;
  float: left;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}

textarea:focus, input:focus{
  outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.w3-blance-dark {
  color: #f1f1f1 !important;
  background-color: #333!important;
}

.w3-blance-light {
  color: #333!important;
  background-color: #f1f1f1!important;
}
.w3-gig-category-select {
  padding: 9px 0;
  width: 100%;
  color: #333;
  border: 1px solid transparent;
  border-bottom: 1px solid #333;
}
.no-border{
  border:none !important;
}
ul.w3-ul li{
  border:none !important;
}
.filtergigs {
  color: #333 !important;
  border-bottom: none !important;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  text-transform: uppercase;
  /*background-color: #fff!important;*/
}
.filtergigs.active{
  color: #f2f2f2 !important;
  background-color: #333 !important;
  /*border-bottom: 6px solid #009688!important;*/
}

.w3-blance-text-dark {
  color: #333 !important;
}

.w3-blance-text-light {
  color: #f1f1f1!important;
}


.gigTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  height: 3.6em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .gigTitle {
    display: -webkit-box;
    -webkit-line-clamp: 3em; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.w3-margin-4 {
  margin: 4px!important;
}
