<template name="gig">
  <div class="w3-third w3-container w3-margin-bottom">
    <div class="w3-container w3-white w3-padding-32"  id="{{_id}}" >
      <p class="w3-large gigTitle">{{title}}</p>

      <div class="w3-accordion-content gig-description-content ">
        <p class="w3-small">{{description}}</p>
      </div>

      <div class="w3-row w3-padding-8 action-buttons">
        <button  class="w3-padding-8 w3-btn gig-description w3-light-grey w3-small">Description</button>
        <a class="w3-padding-8  w3-btn w3-light-grey w3-small">
          <i class="fa fa-usd" aria-hidden="true"></i> {{budget}}
        </a>
        <a class="w3-padding-8  w3-btn w3-light-grey  w3-small">
          <i class="fa fa-tags" aria-hidden="true"></i> {{category}}
        </a>
        {{#if isOpen}}
        <button class="w3-btn w3-teal w3-padding-8  w3-small acceptButton">Accept</button>
        {{/if}}
      </div>

    </div>
  </div>
</template>
