<template name="gigModal">
  <div id="acceptModal" class="w3-modal">
    <div class="w3-modal-content">
      {{#if authInProcess}}
      <p>loading ...</p>
      {{else}}

      {{#if canShow}}

      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('acceptModal').style.display='none'"
        class="w3-closebtn">&times;</span>
        <h2 id="acceptModalTitle" class="w3-xlarge"></h2>
      </header>

      <div class="w3-container w3-medium w3-padding">
        <p id="acceptModalDescription"></p>
        <p class="w3-large w3-padding-top"><b>Additional Details </b></p>
        <table class="w3-table w3-bordered">
          <tr>
            <td>Cost</td>
            <td><span id="gigCost"></span> Ethers</td>
          </tr>
          <tr>
            <td>Completion Date</td>
            <td><span id="gigCompletionDate"></span></td>
          </tr>
          <tr>
            <td>Article Category</td>
            <td><span id="gigCategory"></span></td>
          </tr>
          <tr>
            <td>Article Owner</td>
            <td><span id="gigOwner"></span></td>
          </tr>
        </table>

        <div class="w3-padding-32"><a class="w3-btn w3-row w3-blance-dark w3-padding confirm-accept">Accept This Gig</a></div>
      </div>

      {{else}}

      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('acceptModal').style.display='none'"
        class="w3-closebtn">&times;</span>
        <h2 id="acceptModalTitle" class="w3-xxlarge">Login Required!</h2>
      </header>
      <div class="w3-container w3-medium w3-padding">
        <p id="acceptModalDescription">Please Login to accept this Gig</p>
        <div class="w3-padding-16">  <a class="w3-btn w3-row w3-blance-dark w3-padding" href="/login"> Login here </a></div>
      </div>

      {{/if}}
      {{/if}}
    </div>

  </div>


  <div id="acceptModalAction" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('acceptModalAction').style.display='none'" class="w3-closebtn">&times;</span>
        <h2 class="w3-xlarge">Congratulations</h2>
      </header>

      <div class="w3-container w3-medium w3-padding">
        <p class="w3-large w3-padding-top">We have shared your details with Project Owner, Please wait for our confirmation.</p>
      </div>

    </div>

  </div>

</template>
