<template name="homeContact">
  <!-- Contact Section -->
  <div class="blance-page w3-blance-dark  w3-container w3-padding-128 " id="contact">
    <h3 class="w3-center w3-jumbo">CONTACT</h3>
    <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
    <div class="w3-row-padding" style="margin-top:64px">
      <div class="w3-full">

        <form action="form.asp" target="_blank">
          <p><input class="w3-input w3-blance-dark" type="text" placeholder="Name" required name="Name"></p>
          <p><input class="w3-input w3-blance-dark" type="text" placeholder="Email" required name="Email"></p>
          <p><input class="w3-input w3-blance-dark" type="text" placeholder="Subject" required name="Subject"></p>
          <p><input class="w3-input w3-blance-dark" type="text" placeholder="Message" required name="Message"></p>
          <p>
            <button class="w3-btn w3-padding w3-blance-light w3-opacity w3-hover-opacity-off" type="submit">
              <i class="fa fa-paper-plane "></i> SEND MESSAGE
            </button>
          </p>
        </form>
        <!-- <p><i class="fa fa-envelope fa-fw w3-large w3-margin-right"> </i>enquiry@blance.com</p> -->
        <br>
      </div>

    </div>
  </div>
</template>
