<template name="homePromo">
  <!-- Promo Section - "We know design" -->
  <div class="blance-page w3-blance-light  w3-container  w3-padding-64">
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h3 class="w3-jumbo">Dapp Blockchain</h3>
        <p>We have a solid distrubuted backend which empowers transparency and ensures integrety in the system  </p>
        <p><a href="#work" class="w3-btn w3-blance-dark"><i class="fa fa-th"></i> View Our Dapp's</a></p>
      </div>
      <div class="w3-col m6">
        <img class="w3-image w3-round-large w3-grayscale-max" src="http://www.w3schools.com/w3images/phone_buildings.jpg" alt="Buildings" width="700" height="394">
      </div>
    </div>
  </div>


</template>
