<template name="homeFooter">
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-64">
    <a href="#home" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
      <i class="fa fa-flickr w3-hover-text-red"></i>
      <i class="fa fa-instagram w3-hover-text-purple"></i>
      <i class="fa fa-twitter w3-hover-text-light-blue"></i>
      <i class="fa fa-linkedin w3-hover-text-indigo"></i>
    </div>
  </footer>

  <!-- Add Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>

  <script>

  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }


  // Toggle between showing and hiding the sidenav when clicking the menu icon
  var mySidenav = document.getElementById("mySidenav");

  function w3_open() {
    if (mySidenav.style.display === 'block') {
      mySidenav.style.display = 'none';
    } else {
      mySidenav.style.display = 'block';
    }
  }

  // Close the sidenav with the close button
  function w3_close() {
    mySidenav.style.display = "none";
  }
  </script>
</template>
