<template name="homeIntro">
  <!-- Header with full-height image -->
  <header class="w3-blance-dark blance-intro w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-padding-xxlarge w3-text-white">
      <span class="w3-jumbo w3-hide-small">Connecting Authors to Publishers.</span><br>
      <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
      <span class="w3-large">Stop worring about your content, We are Tinder for bloggers, Post your requirement and get closet author match. </span>
      <p><a href="#about" class="w3-btn w3-blance-light w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
    </div>
    <div class="w3-display-bottomleft w3-padding-xxlarge w3-text-grey w3-large">
      <a href="#" class="w3-hover-text-white"><i class="fa fa-facebook-official"></i></a>
      <a href="#" class="w3-hover-text-white"><i class="fa fa-flickr"></i></a>
      <a href="#" class="w3-hover-text-white"><i class="fa fa-instagram"></i></a>
      <a href="#" class="w3-hover-text-white"><i class="fa fa-twitter"></i></a>
      <a href="#" class="w3-hover-text-white"><i class="fa fa-linkedin"></i></a>
    </div>
  </header>
</template>
