<template name="homePublishers">
  <!-- Work Section -->
  <div class="w3-blance-dark w3-container w3-padding-128 blance-page" id="publishers">
    <div class="w3-row-padding">
      <h3 class="w3-jumbo w3-center">Publishers</h3>
      <p class="w3-center w3-large">You have a article to be written?
        <ul class="w3-ul">
          <li>Post your requirement</li>
          <li>Set your budget and make safe payment</li>
          <li>We broadcast it to our authors pool based on your requirement</li>
          <li>It will be delivered by our author pool.</li>
          <li>Once the article is accepted, we release payment to authors.</li>
        </ul>
      </p>

      <div class="w3-row w3-padding-32">
        <a class="w3-btn w3-padding-large   w3-blance-light w3-opacity w3-hover-opacity-off" href="/Publisher">
          Start Now
        </a>
      </div>
    </div>
  </div>
</template>
