<template name="homeAbout">

  <!-- About Section -->
  <div class="w3-container w3-padding-128 w3-blance-light blance-page" id="about">
    <h3 class="w3-jumbo w3-center">ABOUT BLANCE</h3>
    <p class="w3-center w3-large">Outsoruce your article's to pool of authors. Safe, secure, No wait time and transparent.</p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-quarter">
        <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
        <p class="w3-large">Ethereum Blockchain</p>
        <p>When we have blockchain in place explaining about transparency, security and crediblity is useless isnt it ?</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Publishers & Authors</p>
        <p>Have your ever considered this, where the publisher posts his article needs and the freelance author picks up and delivers the article?</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Trust</p>
        <p>With blockchain in place we ensure a system where both Publisher and author are trustable.
          Payment is automated on delivery and acceptablitya</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Support</p>
          <p>We have made platform fully automated and collabrative, However think of us if you have any issues.</p>
        </div>
      </div>
    </div>

  </template>
