<template name="homeAuthors">
  <!-- Pricing Section -->
  <div class="blance-page w3-blance-dark w3-container w3-padding-128 w3-center" id="authors">
    <h3 class="w3-jumbo">Authors</h3>
    <p class="w3-center w3-large">Are you passionate about writting?

      <ul class="w3-ul">
        <li>Signup and Update your profile</li>
        <li>Set your budget and make safe payment</li>
        <li>We broadcast it to our authors pool based on your requirement</li>
        <li>It will be delivered by our author pool.</li>
        <li>Once the article is accepted, we release payment to authors.</li>
      </ul>
    </p>
  </div>
</template>
