<template name="homeGigs">

  <!-- Team Section -->
  <div class="w3-blance-light w3-container w3-padding-64 blance-page " id="gigs">
    <h3 class="w3-center w3-jumbo">LATEST GIGS</h3>

    <div class="w3-row w3-section w3-grey">
      <div class="filtergigs w3-hover-white w3-padding w3-left open active">New Gigs</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left waiting">Accepted</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left approved">Approved</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left completed">Completed</div>
    </div>




    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      {{#each gigs}}

      {{> gig}}

      {{/each}}

      {{> gigModal}}

    </div>
  </div>
</template>
