<template name="gigApproveModal">
  <div id="approveModal" class="w3-modal">
    <div class="w3-modal-content">


      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('approveModal').style.display='none'"
        class="w3-closebtn"><i class="fa fa-close" aria-hidden="true"></i></span>
        <h2 id="acceptModalTitle" class="w3-xlarge"></h2>
      </header>

      <div class="w3-container w3-medium w3-padding">
        <p id="acceptModalDescription"></p>
        <div>
          <a id="acceptModalVisitProfile" class="w3-btn w3-row w3-blance-light w3-padding">View Profile  <i class="fa fa-eye" aria-hidden="true"></i> </a>
        </div>
        <p class="w3-large w3-padding-top"><b>Additional Details </b></p>
        <table class="w3-table w3-bordered">
          <tr>
            <td>User Credibility Factor</td>
            <td><span id="crediblityFactor"></span> Ethers</td>
          </tr>
          <tr>
            <td>Total Gigs Delivered</td>
            <td><span id="totalGigsDelivered"></span></td>
          </tr>
          <tr>
            <td>Total Earnings</td>
            <td><span id="totalEarnings"></span></td>
          </tr>
          <tr>
            <td>Wallet Address</td>
            <td><span id="walletAddress"></span></td>
          </tr>
        </table>

        <div class="w3-padding-32">
          <a class="w3-btn w3-row w3-blance-dark w3-padding confirm-approve w3-left">Approve  <i class="fa fa-thumbs-up" aria-hidden="true"></i> </a>
          <a class="w3-btn w3-row w3-blance-light w3-padding confirm-decline w3-right">Decline  <i class="fa fa-thumbs-down" aria-hidden="true"></i> </a></div>
        </div>

      </div>

    </div>


    <div id="approveModalAction" class="w3-modal">
      <div class="w3-modal-content">
        <header class="w3-container w3-blance-light">
          <span onclick="document.getElementById('approveModalAction').style.display='none'" class="w3-closebtn">&times;</span>
          <h2 class="w3-xlarge">Congratulations</h2>
        </header>

        <div class="w3-container w3-medium w3-padding">
          <p class="w3-large w3-padding-top">We have confirm approval to Free-lancer.</p>
        </div>

      </div>

    </div>

  </template>
