<template name="gigContentModal">
  <div id="gigContentModal" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('gigContentModal').style.display='none'"
        class="w3-closebtn">&times;</span>
        <h2 id="reviewModalTitle" class="w3-xlarge">Accepted Content</h2>
      </header>
      <div class="w3-container w3-medium w3-padding">
        <div class="w3-row">
          <p id="contentModalContent"></p>
        </div>
      </div>
    </div>
  </div>
</template>
