<template name="gigForm">
  <div id="gigForm"  class="w3-container w3-blance-dark blance-page">

    <div class="w3-section w3-padding-top">
      <h1><b>Gig Form</b></h1>
    </div>

    <div>

      <form >
        <div class="w3-padding-16">
          <input class="w3-input w3-blance-dark" required type="text" name="title">
          <label class="w3-label w3-text-grey w3-validate">Title</label>
        </div>

        <div class="w3-padding-16">
          <textarea rows="3" class="w3-input w3-blance-dark"  type="text" name="description" required></textarea>
          <label class="w3-label  w3-text-grey w3-validate">Breif Description</label>
        </div>
        <div class="w3-padding-16">
          <input class="w3-input w3-blance-dark"  type="number" name="budget" required>
          <label class="w3-label  w3-text-grey w3-validate">Budget (USD)</label>
        </div>

        <div class="w3-padding-16">
          <input class="w3-input w3-blance-dark" type="date" name="completiondate" required>
          <label class="w3-label  w3-text-grey w3-validate">Completion Date</label>
        </div>
        <div class="w3-padding-16">
          <select class="w3-gig-category-select w3-padding w3-blance-dark"  name="category">
            <option value="Any" selected>Any</option>
            {{#each categoryList}}
            <option value="{{categoryName}}">{{categoryName}}</option>
            {{/each}}

          </select>
          <label class="w3-label w3-text-grey w3-validate">Article Category</label>
        </div>

        <div class="w3-padding-16">
          <select class="w3-gig-category-select w3-padding w3-blance-dark "  name="selection">
            <option value="0" selected>Allow All</option>
            <option value="1">Approve Before Assigning</option>
            <option value="2">Reputed Authors Only</option>
          </select>
          <label class="w3-label w3-text-grey w3-validate">Author Selection</label>
        </div>

        <div class="w3-padding-16">
          <button type="submit" value="Submit" class="new-gig w3-btn w3-padding w3-blance-light">Submit &nbsp; ❯</button>
        </div>

      </form>
    </div>
  </div>

</template>
