<template name="gigReviewModal">
  <div id="reviewModal" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('reviewModal').style.display='none'"
        class="w3-closebtn">&times;</span>
        <h2 id="reviewModalTitle" class="w3-xlarge"> Review Gig</h2>
      </header>

      <div class="w3-container w3-medium w3-padding">
        <p class="w3-large w3-padding-top "><b>Submitted Content</b></p>

        <div class="w3-row">
          <p id="acceptModalContent"></p>
        </div>

        <label>Satisfaction Level</label>

        <div class="w3-row w3-padding-row">
          <div class="w3-third">
            <input class="w3-radio" type="radio" name="satisfaction" value="-1" >
            <label class="w3-validate w3-blance-text-dark">Bad</label>
          </div>
          <div class="w3-third">
            <input class="w3-radio" type="radio" name="satisfaction" value="0">
            <label class="w3-validate w3-blance-text-dark">Average</label>
          </div>
          <div class="w3-third">
            <input class="w3-radio " type="radio" name="satisfaction" value="1" checked>
            <label class="w3-validate w3-blance-text-dark">Satisfied</label>
          </div>
        </div>


        <div class="w3-padding-32"><a class="w3-btn w3-row w3-blance-dark w3-padding confirm-reviewed">Reviewed & Accepted</a></div>
      </div>
    </div>

  </div>


  <div id="releasePayment" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('releasePayment').style.display='none'" class="w3-closebtn">&times;</span>
        <h2 class="w3-xlarge">Thats Wonderful</h2>
      </header>

      <div class="w3-container w3-medium w3-padding">
        <p class="w3-large w3-padding-top">We Shall initiate Payment for Free-lancer.</p>
      </div>

    </div>

  </div>

</template>
