<template name="publisherHead">
  <!-- Header -->
  <header class="w3-container w3-blance-light" id="portfolio">
    <a href="#">
      <img src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity">
    </a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <h1><b>My Gigs</b></h1>
    <div class="w3-row w3-section w3-grey">
      <div class="filtergigs w3-hover-white w3-padding w3-left publisher-all">ALL</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left publisher-open">Open</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left active publisher-waiting">Waiting for Approval</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left publisher-approved">Approved</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left publisher-completed">Completed</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left publisher-accepted">Accepted</div>
    </div>


  </header>

</template>
