<template name="publisherPortfolio">
  <div id="publisherPortfolio"  class="w3-container w3-blance-light blance-page">

    {{> publisherHead }}


    <!-- First Photo Grid-->
    <div class="w3-row-padding">
      {{#each filteredPublisherGigs}}

      {{> publisherGig}}

      {{/each}}
      {{> gigApproveModal}}
      {{> gigReviewModal}}
      {{> gigContentModal}}

    </div>
  </div>

  <!-- Pagination -->
  <!-- <div class="w3-center w3-padding-32">
  <ul class="w3-pagination">
  <li><a class="w3-blance-dark" href="#">1</a></li>
  <li><a class="w3-hover-black" href="#">2</a></li>
  <li><a class="w3-hover-black" href="#">3</a></li>
  <li><a class="w3-hover-black" href="#">4</a></li>
  <li><a class="w3-hover-black" href="#">»</a></li>
</ul>
</div> -->
</template>
