<template name="publisherNav">
  {{initializeContract}}
  <!-- Sidenav/menu -->
  <nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-large w3-padding" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <img src="{{userPic}}" style="width:45%;" class="w3-round"><br><br>
      <h4 class="w3-padding-0 w3-text-teal"><b>{{userName}}</b></h4>

    </div>
    <a href="#publisherPortfolio" onclick="w3_close()" class="w3-padding "><i class="fa fa-th-large fa-fw w3-margin-right"></i>GIGS</a>
    <a href="#gigForm" onclick="w3_close()" class="w3-padding publish-new-gig"><i class="fa fa-envelope fa-fw w3-margin-right "></i>Publish New Gig</a>

    <a href="#authorProfile" onclick="w3_close()" class="w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>PROFILE</a>
    <!-- <a href="#contact" onclick="w3_close()" class="w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a> -->


    <div class="w3-padding-large">
      <button class="logout w3-btn w3-blance-dark">Logout<i class="fa fa-sign-out w3-padding"></i></button>
    </div>

  </nav>

</template>
