<template name="profile">
  {{#onlyIfLoggedIn}}

  {{#if isAuthor}}
  {{> author}}
  {{/if}}


  {{#if isPubisher}}
  {{>publisher}}
  {{/if}}
  {{/only IfLoggedIn}}

</template>

<template name="solidity">
  <div class="w3-container w3-blance-dark" >

    {{initializeBlance}}

    <span>{{freelancerAddress}}</span>
    <form>
      <div class="w3-padding-16">
        <input class="w3-input w3-blance-dark"  type="number" name="projectId" id="projectId" required>
        <label class="w3-label w3-text-grey w3-validate">Project Id</label>
      </div>
      <div class="w3-padding-16">
        <button type="submit" value="Submit" class="addProject w3-btn w3-padding w3-blance-light">Add New Project ❯</button>
      </div>
    </form>

    <hr>
    <form>
      <div class="w3-padding-16">
        <input class="w3-input w3-blance-dark"  type="number" name="projectId" id="projectIdFreelancer" required>
        <label class="w3-label w3-text-grey w3-validate">Project Id</label>
      </div>
      <div class="w3-padding-16">
        <button type="submit" value="Submit" class="getFreelancer w3-btn w3-padding w3-blance-light">Get Freelancer ❯</button>
      </div>

    </form>

    <hr>
    <form>
      <div class="w3-padding-16">
        <input class="w3-input w3-blance-dark"  type="number" name="projectId" required>
        <label class="w3-label w3-text-grey w3-validate">Project Id</label>
      </div>
      <div class="w3-padding-16">
        <input class="w3-input w3-blance-dark"  type="text" name="freelancerAddr" required>
        <label class="w3-label w3-text-grey w3-validate">Freelancer Address</label>
      </div>
      <div class="w3-padding-16">
        <button type="submit" value="Submit" class="assignFreelancer w3-btn w3-padding w3-blance-light">Assign Freelancer ❯</button>
      </div>

    </form>
  </div>
</template>
