<template name="authorHead">
  <!-- Header -->
  <header class="w3-container w3-blance-light" id="portfolio">
    <a href="#">
      <img src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity">
    </a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <h1><b>My Portfolio</b></h1>
    <div class="w3-row w3-section w3-grey">
      <div class="filtergigs w3-hover-white w3-padding w3-left active author-all">ALL</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left author-waiting">Waiting for Approval</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left author-approved">Approved</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left author-completed">Completed</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left author-paid">Reviewed and Paid</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left author-open">New Gigs</div>
    </div>
    
  </header>

</template>
