<template name="authorBody">
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">




    {{> authorPortfolio}}
    {{> authorAbout}}
    {{> authorProfile}}

    {{> authorContact}}
    <!-- {{> authorFooter}} -->

    <div class="w3-black w3-center w3-padding-24">Now since you are reading this, @FPV made this :)</div>

    <!-- End page content -->
  </div>

</template>
