<template name="author">
  {{#onlyIfLoggedIn}}

  <div class="w3-row">
    {{> authornav}}

    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


    {{> authorBody}}


    <script>
    // Script to open and close sidenav
    function w3_open() {
      document.getElementById("mySidenav").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidenav").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
    </script>
  </div>
  {{/onlyIfLoggedIn}}

</template>
