<template name="deliverGigModal">
  <div id="deliverGigModal" class="w3-modal">
    <div class="w3-modal-content">

      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('deliverGigModal').style.display='none'"
        class="w3-closebtn">&times;</span>
        <h2 id="deliverGigModalTitle" class="w3-xlarge"></h2>
      </header>

      <div class="w3-container w3-medium w3-padding">
        <textarea rows="6" class="w3-input" type="text" id="deliverGigModalContent" required=""></textarea>
        <label>Article Content</label>
        <div class="w3-padding-32"><a class="w3-btn w3-row w3-blance-dark w3-padding confirm-deliver">Deliver This Gig</a></div>
      </div>


    </div>

  </div>


  <div id="acceptModalAction" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('acceptModalAction').style.display='none'" class="w3-closebtn">&times;</span>
        <h2 class="w3-xlarge">Congratulations</h2>
      </header>

      <div class="w3-container w3-medium w3-padding">
        <p class="w3-large w3-padding-top">We have shared your details with Project Owner, Please wait for our confirmation.</p>
      </div>

    </div>

  </div>

</template>
