<template name="gigDetailsModal">
  <div id="detailsModal" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-blance-light">
        <span onclick="document.getElementById('detailsModal').style.display='none'"
        class="w3-closebtn"><i class="fa fa-close" aria-hidden="true"></i></span>
        <h2 id="detailsModalTitle" class="w3-xlarge"></h2>
      </header>
      <div class="w3-container w3-medium w3-padding">
        <p id="detailsModalDescription"></p>
        <div>
          <a id="detailsModalVisitProfile" class="w3-btn w3-row w3-blance-light w3-padding">Publisher Profile  <i class="fa fa-eye" aria-hidden="true"></i> </a>
        </div>
        <p class="w3-large w3-padding-top"><b>Additional Details </b></p>
        <table class="w3-table w3-bordered">
          <tr>
            <td>Gig worth</td>
            <td><span id="gigWorth"></span> Ethers</td>
          </tr>
          <tr>
            <td>Deadline</td>
            <td><span id="gigDeadline"></span></td>
          </tr>
          <tr>
            <td>Gig Category</td>
            <td><span id="gigCategory"></span></td>
          </tr>
          <tr>
            <td>Publisher Crediblity</td>
            <td><span id="publisherCrediblity"></span></td>
          </tr>
          <tr>
            <td>Total Publisher Gigs</td>
            <td><span id="publisherGigs"></span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</template>
