<template name="login">

  <div class="w3-container w3-blance-dark">
    <h2>Login</h2>
  </div>
  <div class="blance-page w3-blance-light  w3-container w3-padding-64" >
    <h3 class="w3-center w3-jumbo">Login</h3>
    <p class="w3-center w3-large">Hello there, Welcome back!</p>

    <form class="w3-container">
      <div class="w3-row w3-padding-jumbo">
        <div class="w3-padding">
          <input type="email" name="loginEmail" class="w3-input w3-blance-light" required="">
          <label class="w3-text-grey">Email</label>
        </div>
        <div class="w3-padding">
          <input type="password" name="loginPassword"  class="w3-input w3-blance-light" required="">
          <label class="w3-text-grey">Password</label>
        </div>
        <div class="w3-padding">
          <button type="submit" value="Login" class="w3-btn w3-padding w3-teal">Login &nbsp;  <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          <a class="w3-btn w3-blance-dark w3-right w3-padding" href="/Signup"> Signup <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </form>
  </div>

</template>
