<template name="signup">
  <div class="w3-container w3-blance-dark">
    <h2>Signup</h2>
  </div>

  <div class="blance-page w3-blance-light  w3-container w3-padding-64" >
    <h3 class="w3-center w3-jumbo">Register</h3>
    <p class="w3-center w3-large">Aye Aye Captain...</p>
    <form class="w3-container">
      <div class="w3-row w3-padding-jumbo">
        <div class="w3-padding">
          <input type="text" name="signupName" class="w3-input w3-blance-light" required="">
          <label class="w3-text-grey">Name</label>
        </div>
        <div class="w3-padding">
          <input type="email" name="signupEmail" class="w3-input w3-blance-light" required="">
          <label class="w3-text-grey">Email</label>
        </div>
        <div class="w3-padding">
          <input type="password" name="signupPassword"  class="w3-input w3-blance-light" required="">
          <label class="w3-text-grey">Password</label>
        </div>

        <div class="w3-padding">
          <div class="w3-half">
            <input class="w3-radio" type="radio" name="userType" value="0" checked>
            <label class="w3-validate w3-blance-text-dark">Publisher</label>
          </div>
          <div class="w3-half">
            <input class="w3-radio" type="radio" name="userType" value="1">
            <label class="w3-validate w3-blance-text-dark">Freelancer</label>
          </div>
        </div>

        <div class="w3-padding-32">
        </div>

        <div class="w3-padding">
          <button type="submit" value="Signup" class="w3-btn w3-padding w3-teal" >Signup &nbsp; <i class="fa fa-hand-o-right" aria-hidden="true"></i></button>
          <a class="w3-btn w3-blance-dark w3-right w3-padding" href="/Login"> Login &nbsp;  <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </form>
  </div>
</template>
