<template name="aboutmeContact">


  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-blance-dark">
    <h4 id="authorContact" class="w3-xxlarge"><b>Contact {{getName}}</b></h4>


    <form action="form.asp" target="_blank">
      <div class="w3-group">
        <label>Name</label>
        <input class="w3-input w3-blance-dark" type="text" name="Name" required>
      </div>
      <div class="w3-group">
        <label>Email</label>
        <input class="w3-input w3-blance-dark" type="text" name="Email" required>
      </div>
      <div class="w3-group">
        <label>Message</label>
        <input class="w3-input w3-blance-dark" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-btn w3-blance-light w3-padding-large w3-margin-bottom w3-opacity w3-hover-opacity-off"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
    </form>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
      <div class="w3-third ">
        <p><i class="fa fa-envelope w3-xxlarge"></i></p>
        <p>{{getEmail}}</p>
      </div>
      <div class="w3-third ">
        <p><i class="fa fa-map-marker w3-xxlarge "></i></p>
        <p>Chicago, US</p>
      </div>
    </div>
  </div>

</template>
