<template name="aboutmeBody">
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">
    {{> aboutmeHead }}
    {{> aboutmePortfolio}}
    {{> aboutmeAbout}}
    {{> aboutmeContact}}
  </div>

</template>
