<template name="aboutmeAbout">
  <div id="authorAbout" class="w3-container w3-padding-large w3-blance-light" style="margin-bottom:32px">
    <div class="w3-section  w3-padding-top">
      <h1><b>About {{getName}}</b></h1>
    </div>
    <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    <hr>
    <h4>Interests</h4>
    <!-- Progress bars / Skills -->
    <p>Finance</p>
    <p>Travel</p>
    <p>Food</p>
    <hr>
  </div>
</template>
