<template name="aboutmeHead">
  <!-- Header -->
  <header class="w3-container w3-blance-light" id="portfolio">
    <a href="#">
      <img src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity">
    </a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <h1><b>{{getName}} Portfolio</b></h1>
    <!-- <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span>
      <button class="w3-btn filtergigs active  w3-margin-4">In Progress</button>
      <button class="w3-btn filtergigs  w3-margin-4">Waiting for Approval</button>
      <button class="w3-btn filtergigs w3-margin-4">Completed</button>
    </div> -->

    <div class="w3-row w3-section w3-grey ">
      <div class="filtergigs w3-hover-white w3-padding w3-left author-approved active">In Progress</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left author-waiting">Waiting for Approval</div>
      <div class="filtergigs w3-hover-white w3-padding w3-left author-completed ">Completed</div>
    </div>

  </header>

</template>
