<template name="users">
  <div class="w3-container w3-blance-dark">
    <h2>Users List</h2>
  </div>
  {{#onlyIfLoggedIn}}

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-large  w3-blance-light ">
    {{#each users}}
    {{> userCard}}
    {{/each}}

  </div>
  {{/onlyIfLoggedIn}}

</template>
