<template name="userCard">
  <a href="/aboutme/{{userId}}">
    <div class="w3-third w3-container w3-margin-bottom">
      <div class="w3-container w3-white w3-padding-32"  id="{{_id}}" >
        <p class="w3-large">{{userName}}</p>

        <div class="">
          <p class="w3-small">
            Email - {{email}}<br>
            UserId - {{userId}}
          </p>
        </div>
      </div>
    </div>
  </a>
</template>
