<template name="gigCategory">

  <div class="">

    <div class="w3-container w3-blance-dark">
      <h2>Categories</h2>
    </div>
    <div class="blance-page w3-blance-light  w3-container w3-padding-64" >
      <div class="w3-padding-jumbo" >
        <h4>Latest Categories</h4>

        {{#each categoryList}}
        {{> categoryItem}}
        {{/each}}
      </div>

      <h3 class="w3-center w3-jumbo">Add Category</h3>
      <p class="w3-center w3-large">Only admin can do this</p>

      {{>categoryForm}}

    </div>
  </div>



</template>
