<template name="categoryForm">
  <form class="w3-container w3-padding-jumbo">
    <div class="w3-padding-16">
      <input class="w3-input w3-blance-light" required type="text" name="categoryName">
      <label class="w3-label w3-text-grey w3-validate">Category Name</label>
    </div>

    <div class="w3-padding-16">
      <button type="submit" value="Submit" class="new-category w3-btn w3-padding w3-blance-dark">Add Category &nbsp; ❯</button>
    </div>

  </form>
</template>
